<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="escribeArchivoLOG"
        type="BitacorasNET.Configuracion.EscribeArchivoLOG.EscribeArchivoLOGConfig, BitacorasNET"/>
      <section name="mqSeries"
        type="BitacorasNET.Configuracion.MqSeries.MqSeriesConfig, BitacorasNET"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="mensaje" value="hola mundo desde app.config ConsoleApp1"/>
  </appSettings>
  <escribeArchivoLOG>
    <instances>
      <add key="logFileName" value="LogBitacoras.log"/>
      <add key="logFilePath" value="D:\Codigo\TKTMQ\Procesos\Logs\"/>
    </instances>
  </escribeArchivoLOG>
  <mqSeries>
    <instances>
      <add key="MQManager" value="QMDCEDTK"/>
      <add key="MQEscritura" value="QRT.CEDTK.ENVIO.MQD8"/>
    </instances>
  </mqSeries>
  <headerih>
    <instances>
      <add key="PRIMERVALOR" value="QC1CDPL"/>
      <add key="IHTAGINI" value="IH"/>
      <add key="IDPROTOCOL" value="26"/>
      <add key="LOGICAL" value="2000"/>
      <add key="ACCOUNT" value="0173"/>
      <add key="USER" value="UCQGTKMD"/>
      <add key="SEQNUMBER" value="00000000"/>
      <add key="TXCODE" value="TK14"/>
      <add key="USEROPT" value="00"/>
      <add key="COMMIT" value="0"/>
      <add key="MSGTYPE" value="1"/>
      <add key="PROCESSTYPE" value="0"/>
      <add key="CHANNEL" value="TK"/>
      <add key="PREFORMATIND" value="N"/>
      <add key="LANGUAGE" value="E"/>
      <add key="IHTAGEND" value="IH"/>
    </instances>
  </headerih>
</configuration>